body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

#messageList {
    list-style-type: none;
    padding: 0;
}

#messageList li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
#loginForm, #signupForm {
    margin-top: 20px;
}

#authButtons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
#messageList {
    list-style-type: none;
    padding: 0;
}

#messageList li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.message-author {
    color: red; /* Couleur du pseudo de l'auteur */
    font-weight: bold;
}

.message-content {
    margin-top: 5px;
}
